<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Magma_Slider>
            <version>0.0.1</version>
        </Magma_Slider>
    </modules>
    <global>
        <blocks>
            <magma_slider>
                <class>Magma_Slider_Block</class>
            </magma_slider>
        </blocks>
        <resources>
            <magma_slider_setup>
                <setup>
                    <module>Magma_Slider</module>
                    <class>Magma_Slider_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magma_slider_setup>
            <magma_slider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magma_slider_write>
            <magma_slider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magma_slider_read>
        </resources>
    </global>
</config>